.about {
    max-width: 1240px;
    margin: 0 auto;
    padding: 2rem;
}

.dropdown-items {
    display: flex;
    place-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10rem;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .about {
        padding: 1rem;
    }
        
    .dropdown-items {
        margin-bottom: 5rem;
    }
}