.dropdown-container {
    width: 80%;
    background-color: #FF6060;
    color: white;
    border-radius: 5px;
    margin: 16px 0;
}

.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  
  .dropdown-container.open .dropdown-content {
    max-height: 500px; 
  }

.dropdown-container h3 {
    padding: 8px;
    text-align: left;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.dropdown-container img {
    margin-top: 6px;
    float: right;
}

.dropdown-container p {
    margin: 0;
    padding: 0 16px;
    text-align: left;
    background-color: #f6f6f6;
    color: #FF6060;
    display: block;
}

.dropdown-container.open p {
    padding: 16px;
}

.dropdown-container.open ul {
    padding: 16px;
}

.dropdown-container ul {
    padding: 0 16px;
    background-color: #f6f6f6;
    list-style-type: none;
    margin: 0;
}

.dropdown-container>ul>li {
    color: #FF6060;
    text-align: left;
    padding: 0;
}

.rotate {
    transform: rotate(180deg);
}

@media screen and (max-width: 600px) {
    .dropdown-container {
        width: 100%;
    }

    .dropdown-container h3 {
        font-size: 13px;
    }

    .dropdown-container p {
        font-size: 12px;
    }
}