.navbar-container {
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
}

.navbar-container ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
}

.navbar-container ul li {
    padding-left: 1rem;
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

